<div class="page">
  <h1 class="heading"> Name Information Aggregator</h1>
  <login-buttons ng-hide="isUser"></login-buttons>
  <div ng-controller="SearchCtrl as ctrl" layout="column" ng-cloak>
    <div class="topSection">
      <div>
        <md-content class="md-padding">
          <form ng-submit="$event.preventDefault()" name="searchForm">
            <div layout-gt-sm="row">
              <md-input-container flex md-search-text="ctr.selectedItem">
                <label>Name</label>
                <input class="search" type="text" ng-model="querys" placeholder="Full Name" />
              </md-input-container>
            </div>
          </form>
        </md-content>
      </div>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary search-button" ng-click="search(querys)">Search the Interwebz</md-button>
      </section>
    </div>
    <saved-search ng-hide="isUser"></saved-search>

    <div class="bottomSection" ng-hide="hidestatus">
      <div class="loading"></div>
      <h2 class="white">{{master.searches[current]}}</h2>
      <div ng-class="{'contentExpand': expandedBool}"> 

        <div ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12] track by $index">
          <a ng-click="scrollInfo()">
            <div class="identityBox">

              <span class="identityPercentage">
               <!--  23% -->
             </span>
             <br/>
             <i class="zmdi zmdi-account-box">
             </i>
             {{n}}    
           </div>
         </a>
       </div>
       <div>
       <h2 class="center white">{{matches}} potential matches found</h2>
       </div>
     </div>
   </div>

   <div class="informationSection" id="info" ng-hide="hidestatus">
    <h1>Info here</h1>

    <div class="row">

      <div class="col-6">

        <h2>Age:</h2> {{result.age}}
        <h2>Race:</h2> {{result.race}} 
        <h2>Gender:</h2> {{result.gender}}
        <h2>Height:</h2> {{result.height}}
      <!--   <h2>Weight:</h2> {{result.weight}}
        <h2>Bio:</h2> {{result.bio}}
        <h2>Interests:</h2> {{result.interests}}
        <h2>Web Accounts:</h2> {{result.accounts}}
        <h2>Personal Website:</h2> {{result.site}}
        <h2>Whois info:</h2> {{result.whois}}
        <h2>Facebook:</h2> {{result.facebook}}           
        <h2>Twitter:</h2> {{result.twitter}}           
        <h2>YouTube:</h2> {{result.youtube}}           
        <h2>Skype:</h2> {{result.skype}}             
        <h2>Linkedin:</h2> {{result.linkedin}}           
        <h2>Links of Relevance:</h2> {{result.relevence}}
        <h2>Known Aliases / Usernames:</h2> {{result.alias}}
        <h2>Job Information:</h2> {{result.job}}
        <h2>Company:</h2>{{result.company}}
        <h2>Company Site:</h2> {{result.site}}
        <h2>Company Phone Number:</h2> {{result.phone}}
        <h2>Company Location:</h2> {{result.location}}
        <h2>Company Links:</h2> {{result.links}}
        <h2>Job Position:</h2> {{result.position}}
        <h2>Address:</h2> {{result.address}}       
        <h2>State:</h2> {{result.state}}     
        <h2>City:</h2> {{result.info}}    
        <h2>Zip:</h2> {{result.info}}
        <h2>Phone # (Cell, Home):</h2> {{result.info}}       
        <h2>Carrier:</h2> {{result.info}}
        <h2>Middle School: </h2>{{result.info}}          
        <h2>High School:</h2> {{result.info}}    
        <h2>Grade:</h2> {{result.info}}    
        <h2>College:</h2> {{result.info}}
        <h2>Email:</h2> {{result.info}}            
        <h2>Other Info:</h2> {{result.info}} -->
      </div>

      <div class="col-6">
    <!--     <h2>Religion:</h2> {{result.info}}
        <h2>Schedule:</h2> {{result.info}}
        <h2>Family/Friends Information:</h2> {{result.info}}
        <h2>Mother’s Name:</h2> {{result.info}}          
        <h2>Father’s Name:</h2> {{result.info}}
        <h2>Sibling’s Names:</h2> {{result.info}}
        <h2>Children’s Names:</h2> {{result.info}} 
        <h2>Friend’s Names:</h2> {{result.info}}
        <h2>Friend’s Email Addresses:</h2> {{result.info}}   
        <h2>Computer Information:</h2> {{result.info}}
        <h2>IP Address:</h2> {{result.info}}
        <h2>Hostname:</h2> {{result.info}}            
        <h2>ISP:</h2> {{result.info}}
        <h2>MAC Address:</h2> {{result.info}}          
        <h2>Computer Name:</h2> {{result.info}}
        <h2>DNS Info:</h2> {{result.info}}
        <h2>DNS Admin:</h2> {{result.info}}
        <h2>Whois Details:</h2>{{result.info}}           
        <h2>OS:</h2> {{result.info}}
        <h2>Open Ports:</h2> {{result.info}}          
        <h2>LAN Information:</h2> {{result.info}}
        <h2>Exploitation:</h2> {{result.info}}
        <h2>Phishing Vectors:</h2> {{result.info}}    
        <h2>Possible Attacks:</h2> {{result.info}}
        <h2>Target Mode of Thinking:</h2> {{result.thinking}}
        <h2>Empathy Level(1-10):</h2> {{result.empathy}}
        <h2>How They See You:</h2> {{result.alternate}} -->
        <h2 class="ancestry">Ancestry:</h2> {{result.ancestry}}

      </div>

    </div>

  </div>

</div>
</div>